.accordion {
    .card-header {
        background-color: rgba(255, 255, 255, .7);
        border-bottom: .2rem black solid;
    }

    .card-body {
        background-color: rgba(255, 255, 255, .5);
    }
}