.contact-container {
    color: #000;
    border-radius: 0 !important;
    background-image: url("../images/contact-bg.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    max-width: 100% !important;
    min-height: 100vh;
}

.mirror {
    display: inline-block;
    -moz-transform: scale(-1, 1);
    -webkit-transform: scale(-1, 1);
    -o-transform: scale(-1, 1);
    -ms-transform: scale(-1, 1);
    transform: scale(-1, 1);
}

.contact-text-container {
    background-color: rgba(255, 255, 255, .5) !important;
}

.carousel-caption {
    background-color: rgba(255, 255, 255, .2) !important;
    border-radius: 2rem;
    color: #000 !important;
}

.border-radius-top {
    border-radius: 2rem 2rem 0 0;
}

.border-radius-bottom{
    border-radius: 0 0 2rem 2rem;
}