.letsgo-container {
    color: #000;
    border-radius: 0 !important;
    background-image: url("../images/letsgo-bg.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    max-width: 100% !important;
    min-height: 100vh;
}

.letsgo-form-container {
    background-color: rgba(255, 255, 255, .5) !important;
    border-radius: 2rem;
}