.navbar {
  .navbar-brand {
    a:link {
      text-decoration: none;
    }

    a:visited {
      text-decoration: none;
    }

    a:hover {
      text-decoration: none;
    }

    a:active {
      text-decoration: none;
    }
    b {
      -webkit-text-stroke: 1px black;
    }
  }
}
