.profile-container {
    color: #000;
    border-radius: 0 !important;
    background-image: url("../images/footprint-bg.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    max-width: 100% !important;
    min-height: 100vh;
}

.profile-content-container {
    background-color: rgba(255, 255, 255, .5) !important;
    border-radius: 2rem;
}

#canvasjs-react-chart-container-3,
#canvasjs-react-chart-container-7,
.canvasjs-chart-container,
.canvasjs-chart-canvas {
    border-radius: 2rem;
}

.canvasjs-chart-credit {
    display: none;
}